* {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.top {
    width: 100%;
    height: 10%;
    background-color: red;
}

.nav_bar {
    width: 75%;
    margin: 0 auto;
    background-color: white;
}

li {
    list-style: none;
}

.nav_item {
    float: left;
    width: 20%;
    height: 80%;
    margin: 1%;
    text-align: center;
}

.mid {
    width: 75%;
    height: 80%;
    background-color: yellow;
    margin: 0 auto;
}

.bot {
    width: 100%;
    height: 10%;
    background-color: green;
}

@media screen and (max-width:579px) {
    .top {
        height: 10%;
    }

    .mid {
        width: 100%;
    }

    .nav_item {
        width: 100%;
        height: 30%;
        margin: 0;
    }
}