*{
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    background-color: black;
}

#chan {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

#chan:hover {
    background-color: red;
    font-size: 3rem;
}

.group1 {
    background-color: yellow;
}
.group1 li:first-child {
    background-color: magenta;
}

.second > .third {
    background-color: red;
}

a:link, a:visited {
    color: blue;
    text-decoration-line: none;
}

p::first-letter {
    color: red;
    font-size: 2rem;
}