* {
    margin: 0;
    padding: 0;
}

.top_bar {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 50px;
    background-color: yellowgreen;
}

.left_bar {
    position: fixed;
    top: 50px; left: 0; bottom: 0;
    width: 50px;
    background-color: blue;
}