* {
    margin: 0;
    padding: 0;
}

.divBlock {
    display: block;
    height: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    line-height: 100px;
}

.divInline {
    display: inline;
    border: 1px solid black;
    margin: 5px;
}