* {
    margin: 10px;
}

#middle {
    width: 500px;
    height: 300px;
    border: 3px solid black;
    overflow: hidden;
    position: relative;
}

#middle > div {
    width: 100px;
    height: 100px;
    border-radius: 50% 50%;
    position: absolute;
}

#red {
    background-color: red;
    top: 10px; left: 10px;
}

#green {
    background-color: green;
    top: 10px; right: 10px;
}

#yellow {
    background-color: yellow;
    bottom: 10px; left: 10px;
}

#blue {
    background-color: blue;
    bottom: 10px; right: 10px;
}