* {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    float: left;
}

.top {
    width: 100%;
    height: 20%;
    background-color: red;
}

.middle {
    width: 100%;
    height: 60%;
}

.left {
    width: 40%;
    height: 100%;
    background-color: orange;
}

.right {
    width: 60%;
    height: 100%;
}

.main {
    width: 100%;
    height: 40%;
    background-color: yellow;
}

.contents {
    width: 100%;
    height: 60%;
}

#con1 {
    width: 33%;
    height: 100%;
    background-color: green;
}

#con2 {
    width: 33%;
    height: 100%;
    background-color: skyblue;
}

#con3 {
    width: 34%;
    height: 100%;
    background-color: blue;
}

.bottom {
    width: 100%;
    height: 20%;
    background-color: purple;
}