body {
    width: 50%;
    margin: 0 auto;
    background-image:
    linear-gradient(to right,
    #2100ff, #0074ff, #009fff, #00bfe5, #00d9c1, #00e7ab, #47f289, #80fb5b, #a2fd48, #c2ff35, #e1ff1f, #ffff00);
}

img {
    float: left;
    border: 1px solid black;
    width: 200px;
    height: 100px;
    margin: 10px;
}

.divbox {
    float: left;
    border: 1px solid black;
    width: 100px; height: 100px;
    margin: 10px;
}

div.container {
    overflow: hidden;
    background-color: white;
    width: 100%;
    height: 100px;
}

div.item {
    float: left;
    border: 1px solid black;
    width: 120px;
    height: 80px;
    margin: 10px 10px;
}

div.clear {
    clear: both;
}

@media screen and (max-width: 500px) {
    img {
        width: 100%;
        height: auto;
    }
}