* {
    margin: 0;
    padding: 0;
}

#top {
    background-color: rgb(147, 255, 219);
    width: 100%;
    height: 120px;
}

#middle {
    background-color: rgb(218, 255, 162);
    width: 75%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

#left {
    background-color: rgb(255, 141, 47);
    width: 30%;
    height: 100px;
    float: left;
    overflow: hidden;
}

#right {
    background-color: rgb(47, 255, 255);
    width: 70%;
    height: 400px;
    float: left;
    overflow: hidden;
}

#bottom {
    background-color: rgb(140, 128, 255);
    width: 100%;
    height: 120px;
    clear: both;
}