* {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.top {
    width: 100%;
    height: 3%;
    background-color: lightgray;
}

.mid {
    width: 100%;
    height: 90%;
    background-color: lightslategray;
}

.mid > div {
    height: 20%;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.gray {
    background-color: gray;
}

.bot {
    width: 100%;
    height: 7%;
    background-color: darkslategray;
}

.board {
    width: 50%;
    margin: 0 auto;
    background-color: skyblue;
}

.title {
    width: 30%;
    background-color: red;
}

.contents {
    width: 25%;
    background-color: yellow;
    float: left;
}

.clip {
    width: 50%;
    background-color: green;
    float: left;
}