* {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.main {
    width: 75%;
    height: 95%;
    margin: 0 auto;
    background-color: rgb(200, 200, 200);
}

.top {
    width: 100%;
    height: 5%;
    background-color: red;
}

.top > div {
    width: 45%;
}

.left {
    background-color: gray;
    float: left;
}

.left > div {
    float: left;
}

.logo {
    width: 20%;
    background-color: aliceblue;
}

.button {
    width: 10%;
    background-color: lightseagreen;
    margin: auto 0.5%;
}

.right {
    background-color: brown;
    float: right;
}

.right > div {
    float: right;
}

.ads {
    width: 100%;
    height: 50%;
    background-color: yellow;
}

.middle {
    width: 100%;
    height: 10%;
    background-color: orange;
}

.bottom {
    width: 100%;
    height: 35%;
    background-color: green;
}

.contents {
    width: 25%;
    background-color: skyblue;
    float: left;
}

.img {
    width: 99.5%;
    height: 60%;
    background-color: blue;
}

.text {
    width: 99.5%;
    height: 40%;
    background-color: purple;
}

.footer {
    width: 100%;
    height: 5%;
    background-color: black;
}